$font-stack:    Helvetica, sans-serif;
$primary-color: #0087ca;
$secondary-color:#efefef;

$darkBlue:#6ca3b2;
$darkText:#008b95;
$darkOrange:#e37222;
$lightOrange:#e98e4e;
$lightBlue:#33a2aa;
$lighestBlue:#99D1D5;
$whiteText:#ffffff;
$white: #f7f7f7;
$darkGray:#757575;


body {
  font: 100% $font-stack;
  color: black;
  background-color:$white;
  //background-color: $primary-color;
};
#pageWrapper{

     background-color: $white;
     border-left-style: solid;    
     border-right-style: solid;  
     border-left-width: thin;
     border-right-width: thin;
     border-color: $darkBlue;
     padding-left: 25px;
      padding-right: 25px;
}
.white{
    color:$whiteText;
}
h1, h2, h3, h4, h5, h6, h7 {
    color:$darkText
}
.jumbotron{
    background-color: $darkBlue;
    color:$whiteText;
}
.left{
    float:left;
}
#SkillsWrapper{
    height:675px;
    overflow:hidden;
    
}
#skillWrapper{
    border-style: dashed;
    padding-top: 5px;
    border-color: $darkText;
}
.skillRow{
    margin-top:15px;
    margin-bottom:5px;
    margin-left:5px;
}
.container{
   
}
#stickyheader{
    backgroundColor:$secondary-color;
    z-index: 1;
}
.navItem{
    height:25px;
    text-align: center;
    border-right: solid;
    border-width: thin;
    border-color: $darkBlue;
    background-color: $white;
    color: $darkText;
    cursor: pointer; 
    font-size:16px;
    
}
.navBarWrapper{
    border-left: solid;
    border-width: thin;
    border-color: $primary-color;
}
.navItem.active{
    height:25px;
    text-align: center;
    background-color: $darkOrange;
    color:$whiteText;
   
}
.pointer{
    cursor: pointer;
}
.navTitle{
    margin-top: 5px;
}
.icon{
    width:24px;
    height:28px;
}
#bodyWrapper{
    margin-top:25px;
}
.description{
    font-size: 16px;
    margin-top:2px;
}
.language.active{
    background-color: $darkOrange;
    color:$whiteText;
    border-radius: 5px;
    
 
}
.language{
    padding:2px;
   
}
.timeline{
    height:75px;
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: #a9a9a9;
    margin-right: 25px;
    
}
.bottomBorder{
     border-bottom-style: solid;
    border-bottom-width: 2px;
}
.timeblock{
    border-top-style: solid;
    border-top-width: 2px;
}

#footWrapper{
    height:100px;
}

